/*
font-family: 'Frank Ruhl Libre', serif;
*/

body {
    background: #313638;
    color: #FFFFFF;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.2em;
}

.row img {
    max-width: 1400px;
    padding: 20px;
}

img {
    padding: 0 0 3% 0;
}


h1 {
    font-size: 2.5em;
}

main {
    width: 70%;
    margin: 0 auto;
}


.title {
    text-align: center;
    padding: 40px 0;
    font-family: 'Bree Serif', serif;
}

.title p {
    font-weight: 300;
    font-size: .8em;
}

h2 {
    font-size: 1.5em;
    color: #E03A3E;
    padding: 5px 0;
}


p {
    padding: 0 0 2% 0;
}

.chart {
    background: #FFFFFF;
    padding: 5%;
    margin: 0 0 4% 0;
}

a {
    color: #F4B942;
}

a:hover,
.nav-link:hover {
    color: #FFD520;
    ;
}

.number {
    text-decoration: underline;
    text-decoration-color: #E03A3E;
    ;
}

.caption {
    font-size: .8em;
    padding-bottom: 3%;
}

footer {
    text-align: right;
    font-size: .9em;
    padding-bottom: 30px;
    line-height: 1px;
}


@media (max-width: 450px) {
    h1 {
        font-size: 1.5em;
    }

    .caption {
        font-size: .7em;
    }

    h2 {
        font-size: 1.3em;
    }

    footer {
        line-height: 1.8px;
    }
}