/*
font-family: 'Frank Ruhl Libre', serif;
*/

body {
    background: #313638;
    color: #FFFFFF;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.2em;
}

.row img {
    max-width: 1400px;
    padding: 20px;
}

img {
    padding: 0 0 3% 0;
}


h1 {
    font-size: 2.5em;
}

main {
    width: 70%;
    margin: 0 auto;
}


.title {
    text-align: center;
    padding: 40px 0;
    font-family: 'Bree Serif', serif;
}

.title p {
    font-weight: 300;
    font-size: .8em;
}


p {
    padding: 0 0 2% 0;
}

.chart {
    background: #FFFFFF;
    padding: 5%;
    margin: 0 0 4% 0;
}

a {
    color: #F4B942;
}

a:hover,
.nav-link:hover {
    color: #FFD520;
    ;
}

.number {
    text-decoration: underline;
    text-decoration-color: #E03A3E;
    ;
}

.caption {
    font-size: .8em;
    padding-bottom: 3%;
}

/**





**/