/*
font-family: 'Playfair Display', serif;
Regular 400
Regular 400 italic
Medium 500
Semi-bold 600
Bold 700
Extra-bold 800
*/

/*
font-family: 'Tinos', serif;
Regular 400
Regular 400 italic
Bold 700
Bold 700 italic
*/

/*
font-family: 'Bodoni Moda', serif;
Medium 500
Medium 500 italic
Semi-bold 600
Bold 700
Bold 700 italic
*/

body {
    background: #B7B6C1;
    color: #0F1108;
}

h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding: 20px;
    font-size: 3em;
}

h2 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding: 50px 0 0 0;
    font-size: 2em;
}

h3, h4 {
    color: #3A5A40;
    font-family: 'Bodoni Moda', serif;
}


.nav-link {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Playfair Display', serif;
    color: #EEEEEE;
    word-spacing: 6px;
    font-size: 1.2em;
    background: #042A2B;
}


a:hover,
.nav-link:hover {
    color: #EF8275;
}


.img-fluid {
    width: 750px;
    height: auto;
    padding: 60px 40px;
}

.img {
    text-align: center;
}

main, .exp {
    font-family: 'Bodoni Moda', serif;
    font-size: 1.2em;
}

footer {
    text-align: right;
    font-size: .8em;
    background: #042A2B;
    color: #B7B6C1;
    font-family: 'Bodoni Moda', serif;
}

a {
    color: #B7B6C1;
}